/** CSS-Stylesheet
*	author: HTL Leonding
**/



/************* general setting *************/
body {
    margin: 0;
    padding: 0;
    font-family: "Calibri Light", sans-serif;
}
h1, h2 {
    text-transform: uppercase;
}



/************* header *************/
#header {
	display: flex;
    background-color: #1976d2;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0px;
    width: 100%;
}
#header a {
	display: block;
	width: 20%;
    color: #fff;
    font-size: 26px;
    padding-top: 8px;
    padding-bottom: 10px;
    text-decoration: none;
}
#header a:hover {
    color: #d6d6d6;
}
#headerLogo {
    height: 22px;
    margin-top: 4px;
    background-image: url(img/angular_logo_text.png);
    background-repeat: no-repeat;
    background-size: contain;
}



/************* main content (boxes) *************/
.wrapper {
	display: flex;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 60px;
    padding-bottom: 20px;
    border-bottom: 2px solid #d6d6d6;
    border-radius: 1px;
}
.smallBox {
    width: 40%;
}
.largeBox {
    width: 60%;
}

#features .wrapper {
	flex-wrap: wrap;
}
.oneColumnBox {
	width: 100%;
}
.threeColumnBox {
    width: 33.3333%;
    
}

.smallBox, .largeBox, .oneColumnBox, .threeColumnBox {
	box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}




/************* main content (images) *************/
.wrapper img {
    width: 100%;
    display: block;
}
.wrapper #homeLogo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#features .wrapper img {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

/************* main content (text) *************/
.wrapper h1 {
    font-size: 30px;
    font-weight: normal;
    color: #1976d2;
    margin-top: 40px;
    margin-bottom: 30px;
}
.wrapper h2 {
    font-size: 24px;
    font-weight: normal;
    color: #1976d2;
    margin-top: 0px;
    margin-bottom: 30px;
}
.wrapper p {
    font-size: 16px;
    color: #000;
}
#headlineFeatures {
    font-size: 30px;
    font-weight: normal;
    color: #fff;
    background-color: #378fe7;
    margin:0;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 10px;
}
#features h2 {
    text-align: center;
    margin-bottom: 10px;
}

/************* footer *************/
#footer {
    background-color: #1976d2;
    padding-top: 10px;
    padding-bottom: 10px;
}
#footer p {
    color: #fff;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}