/*
Color-palette:

Background: #2c2f33
Menus: #23272a
Default text: #ffffff
Titles and other special things: #7289da
Darker version of the color: #2c3969
Other fitting color: #99aab5
*/
body {
    background-color : #23272a;
    background-size  : cover;
    color            : #ffffff;
    font-family      : sans-serif;
    text-align       : center;
}

body::-webkit-scrollbar {
    display : none;
}

p {
    cursor : default;
}

#wrapper {
    cursor  : wait;
    padding : 24.8%;
}

#navbar {
    background-color : #23272a;
    display          : flex;
    margin           : 0;
    padding          : 15px;
    position         : fixed;
    top              : 0;
    width            : 100%;
}

.navbar-item {
    margin-left  : auto;
    margin-right : auto;
}

h1 {
    color        : #7289da;
    cursor       : default;
    font-size    : 30pt;
    font-variant : small-caps;
    font-weight  : bold;
}

h2, h3, h4, h5, h6 {
    color        : #7289da;
    cursor       : default;
    font-variant : small-caps;
    font-weight  : bold;
}

#infos {
    margin-left  : 10%;
    margin-right : 10%;
}

#hobbies {
    cursor       : default;
    margin-left  : 40%;
    margin-right : 40%;
    text-align   : justify;
    transition   : cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

#hobbies:hover {
    background-color : #23272af1;
    padding          : 3% 1%;
}

audio {
    border        : #7289da solid 4px;
    border-radius : 42px;
    margin-left   : auto;
    margin-right  : auto;
    transition    : cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

audio:hover {
    border : #2c3969 ridge 8px;
}

.link {
    color           : #99aab5;
    text-decoration : none;
}

a {
    transition : cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.link:hover {
    background-color : rgba(0, 0, 0, 0.8);
    color            : #7289da;
    padding          : 10px;
}

.warning {
    animation : warning 2s infinite alternate cubic-bezier(0.075, 0.82, 0.165, 1);
}

.no_margin_div {
    margin     : 0 0 0 48%;
    text-align : left;
}

.no_margin_text {
    display       : contents;
    margin-bottom : 0;
    margin-top    : 0;
}

.hidden_text {
    color      : #2c2f33;
    transition : cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.hidden_text:hover {
    background-color : #23272a;
    border           : solid 5px #23272a;
    color            : #ffffff;
    padding          : 3px;
}

.normal_text {
    color : #ffffff;
}

#secret {
    animation        : secret-animation 100s linear;
    background-color : rgba(0, 0, 0, 0.8);
    border           : ridge #2c3969 5px;
    color            : #7289da;
    padding          : 10px;
    text-decoration  : none;
}

#secret:before {
    cursor          : default;
    text-decoration : none;
}

#videoCollection {
    display : flex;
}

.threeVideos {
    margin : 0;
    width  : 30%;
}

.video {
    margin-bottom : 2%;
    margin-top    : 2%;
    transition    : cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    width         : 95%;
}

.video:hover {
    background-color : #23272a;
    padding          : 2%;
}

video {
    width : 100%;
}

.german {
    display : block;
}

.english {
    display : none;
}

.blogpost {
    background-color : black;
    border-radius    : 8px;
    color            : white;
    margin-left      : 31vw;
    padding          : 4vw;
    width            : 30vw;
}

@keyframes warning {
    from {
        color : #2c3969
    }
    to {
        color : #7289da
    }
}

@keyframes rotation {
    from {
        transform : rotate(0deg);
    }
    to {
        transform : rotate(359deg);
    }
}

@keyframes secret-animation {
    0% {
        color            : #2c2f33;
        padding          : 0;
        background-color : rgba(0, 0, 0, 0);
        border           : none;
        cursor           : default
    }
    95% {
        color            : #2c2f33;
        padding          : 0;
        background-color : rgba(0, 0, 0, 0);
        border           : none;
        cursor           : default
    }
    98% {
        color            : #7289da;
        padding          : 0;
        background-color : rgba(0, 0, 0, 0);
        border           : none;
        cursor           : default
    }
    100% {
        padding          : 10px;
        background-color : rgba(0, 0, 0, 0.8);
        border           : ridge #2c3969 5px
    }
}