/** CSS-Stylesheet
*	author: HTL Leonding
**/

/************* general setting *************/
body {
    margin: 0;
    padding: 0;
    font-family: 'Monospace', sans-serif;
    color:white;
    
}
h1, h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
	padding-bottom: 1%;
}
h1 {
	font-size: 250%;
}
h2 {
	font-size: 200%;
}
h3 {
	font-size: 150%;
}
#footer  {
	font-size: 70%;
	text-align: center;
}
img {
    width: 26%;
}
/************* brown box *************/
.box_brown {
    background-color:#c69163;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 40px;
    padding-bottom: 40px;
}




/************* white box *************/
.box_white {
    background-color: white;
}


/************* background box *************/
.box_background {
    background-image: url(./img/anno_bg-image.webp);
    background-size: contain;
    padding: 147px;
}



/************* multimedia content *************/
/* 16:9 Full-Screen Video */
.youtube {
    border: 0;
    width: 60vw;
    height: 33.75vw;
}



/************* preorder button *************/
#preorderbuttondiv {
    width: 100%;
}
#preorderimage {
    width: 30%;
}
#preorder-button {
    padding: 5pt;
    background-color: #8e6b49;
    margin-top: 0px;
    cursor:wait;
    width: 45%;
    text-decoration: none;
}
#preorder-button:hover {
    background-color: #c69163;
}


/************* gallery *************/
.gallery-image {
    margin: 2%;
}
.gallery {
    margin-left: 90px;
}


