*{
	padding:0;
	margin:0;
}


/************body************/
body{
	background-color: #302c32;
	color: #fff;
	font-family: 'Century Gothic', Arial, sans-serif;
}



/************Typo******************/
h1,h2,h3{
	color: white;
	font-weight: normal;
	text-align: center;
}


	
/***********Image*****************/
#headerbild{
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	border: 10px white solid;
}
.smallimage{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}


/**********Boxen****************/
.content{
	display: flex;
	flex-wrap: wrap;
}
.twoColumns{
	display:inline-block;
	width:30%;
	text-align:justify;
	margin-left: 10%;
	margin-right: 10%;
}



/**************Footer*******************/
#footer{
	text-align:center;
}

hr {
	margin-left: 25%;
	margin-right: 25%;
}
a {
	color:white;
}